#menu {
    font-size: 25px;
    font-family: sans-serif;
    font-style: normal;
    border: 1px black solid;
    padding: 0px 0px 0px 50px;
    border-radius: 20px;
    background-color: #005aa0;
    margin-top: 20px;
}

#menu ul {
    list-style: none;
    display: inline-flex;
    margin-left: 200px;
}

.bikeshop {
    margin-right: 200px;
    margin-left: -220px;
    font-weight: bold;
    font-style: italic;
}

li {
    margin-right: 40px;
}

.bikes-table {
    border: 1px solid #ededed;
    padding: 2em;
    border-radius: 1px;
}

